@import './base.css';
html {
  max-width: min(100%, 100svw);
  max-height: min(100%, 100svw);
  overflow: auto;
}
#app {
  background-color: white;
  color: #7c7e8c;
  display: flex;
  flex-direction: column;
}
